[submodule "libraries"]
	path = libraries
	url = https://github.com/vrld/hump.git
[submodule "libraries/hump"]
	path = libraries/hump
	url = https://github.com/vrld/hump.git
[submodule "libraries/hc"]
	path = libraries/hc
	url = https://github.com/vrld/HC.git
[submodule "libraries/lovedebug"]
	path = libraries/lovedebug
	url = https://github.com/flamendless/lovedebug.git
